//


a
    // background-color #aff

.cta
    color #fff
    padding 0.7em 1em
    border-radius 2px
    display inline-block


.cta__primary
    margin-top emRhythm(3, 1)
    @extend .cta
    .fa
        margin-right 5px
        // font-size 16px
        color $link-color

.cta__primary--big
    @extend .cta__primary
    background-color $link-color
    &:hover
        background-color darken($link-color, 20%)
    .fa
        color #fff
        
.cta__secondary
    margin-top emRhythm(3, 1)
    @extend .cta
    background-color $h-color + 20%
    &:hover
        background-color $h-color + 10%