//
footer
    background-color $nav-bg
    span(1/1)

    .container
        padding 50px 30px 25px

        ul li
            a
                color #8487b2
                font-weight 600
                &:hover
                    color $color-a-hover

        .company
            ul
                margin-top 40px
                li
                    float left
                    &:not(:last-child)
                        margin-right 20px
            span(2/3)

        .connect
            ul
                margin-top 20px
                li
                    float right
                    &:not(:last-child)
                        margin-left 20px
            span(1/3)
            text-align right
            h5
                color #fff

        .legal
            ul
                li
                    float left
                    &:not(:last-child)
                        margin-right 20px
            span(1/1)
            margin-top 30px
            @media(max-width 520px)
                width 100%
                ul
                    margin 0 auto
                    li
                        text-align center
                        margin-right 0
                        margin-bottom 10px
