//Nav

.logo
    width 84px
    height 29px
    display inline-block
    padding-top: 10px
    img
        width 100%

nav.main-nav
    // background-color #ccc
    position fixed
    top 0
    left 0
    right 0
    height 52px
    z-index 9999
    align-items center
    wrap()

    padding-top 10px
    transition all 0.2s ease

    >*
        flex-shrink 0
    ul,li,a
        display inline-block
        line-height 52px
    li a
        color #fff - 30%
        font-weight 500
        &:hover
            color #fff
    li
        margin-left 30px
        float left

    .left-nav
        float left
    .right-nav
        float right

    &.scroll
        background-color $nav-bg
        padding-top 0
