//Nav

.logo
    display block
    width 84px
    height 29px
    background-image url('/assets/img/logo.png')
    background-size 100% 100%
    background-repeat no-repeat

nav.main-nav
    // background-color #ccc
    position fixed
    top 0
    left 0
    right 0
    height 52px
    z-index 9999
    display flex
    align-items center
    wrap()

    padding-top 10px
    transition all 0.2s ease

    >*
        flex-shrink 0
    ul,li,a
        display inline-block
    li a
        font-size 14px
        color #fff
        opacity 0.6
        font-weight 500
        &:hover
            opacity 1
    li
        margin-left 30px

    .right-nav
        margin-left auto

    &.scroll
        background-color $nav-bg
        padding-top 0
