//Nav

.logo
    width 84px
    height 29px
    display block
    margin-top 10px
    float left
    margin-right 30px
    img
        width 100%

nav.main-nav
    // background-color #ccc
    position fixed
    top 0
    left 0
    right 0
    height 52px
    z-index 9999
    align-items center
    padding-top 20px
    transition all 0.2s ease
    font-size 12px
    text-transform uppercase
    font-weight 500
    
    .container
        overflow hidden

    ul,li
        display inline-block
        line-height 48px
    ul
        margin-left 0px
        margin-bottom 0px
    li a
        color #fff - 10%
        &:hover
            color #fff
    li
        float left
        border-top 4px solid transparent
        transition all 0.4s ease
        &:hover
            border-top 4px solid #fff

    .left-nav
        float left
        li
            &:not(:last-child)
                margin-right 30px
            
    .right-nav
        float right
        transition all 0.4s ease
        li
            &:last-child
                border-top 0
            +above($sm + 30)
                &:not(:first-child)
                    margin-left 30px
        
    &.translate-right
        .right-nav
            +above($sm + 30)
                transform translateX(172px)
            
    li.c2a-btn
        line-height 20px
        margin-top 9px
        +above($sm + 30)
            margin-left 30px
        a
            line-height 20px
            color #fff
            padding 7px 15px
            font-size 12px

    &.scroll
        background-color $nav-bg
        padding-top 0
    
    .navs
        transition all 0.4s ease
        +below($sm + 30)
            position fixed
            right -100%
            top 0
            bottom 0
            background-color $nav-bg - 15%
            padding 60px 30px 0px 30px
            box-shadow 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.16)
            ul,li,a
                float none
                display block
            .right-nav
                clear both
                float left
        &.mobile-menu
            right 0
    
    .menu-icon
        float right
        right 100px
        cursor pointer
        z-index: 10000
        user-select none
        margin-top 17px
        display block
        &:focus
            outline none
        +above($sm + 30)
            display none
        .sh
            content ""
            width 30px
            height 3px
            background-color #fff
            position relative
            margin-bottom 5px
            transition all 0.2s ease
            border-radius 2px
            &:focus
                outline none
        &--active .sh2
            background-color rgba(0, 0, 0, 0)
            transform translateX(-5px)
        &--active .sh1
            transform rotate(45deg) translateX(4px) translateY(7px)
        &--active .sh3
            transform rotate(-45deg) translateX(4px) translateY(-8px)
        &--active .text
            display none
        .sh3
            margin 0px
        