//Page Gaming

.gaming
    section
        padding 80px 0
        +below($md)
            padding 60px 0
        +below($sm)
            padding 40px 0
    .hero
        padding 0
        height auto
        background-image url(https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/esports/esports-bg2.jpg)
        &-overlay
            background linear-gradient(-180deg, rgba(54,60,77,0.85) 0%, rgba(54,60,77,0.85) 50%, $nav-bg 100%)
            .container
                height 480px
                padding 125px 0 0px
                +below($md)
                    height 380px
                    padding 110px 0
    
    .gaming-benefits
        padding 0 0 80px
        background $nav-bg
        +below($sm)
            padding 0 0 20px
        h2
            text-align center
            color #fff
            margin-bottom emRhythm(4, 1)
        .gaming-benefit
            col(1/3, cycle: 3)
            +below($xs)
                span()
                text-align center
                margin-bottom emRhythm(4, 1)
            color #fff
            text-align center
            svg
                stroke $link-color-hover
                fill none
                margin-bottom emRhythm(2, 1)
                
    .chrome-extension
        color #fff
        background $purple
        background linear-gradient(to bottom, $purple 50%,$violet 100%)
        background -moz-linear-gradient(top, $purple  50%, $violet 100%)
        background -webkit-linear-gradient(top, $purple  50%,$violet 100%)
        .browser-top
            height 33px
            +below($md)
                display none
        .video-player
            border-radius 0px 0px 5px 5px
            cursor pointer
            +below($md)
                display none
        h2
            margin-bottom emRhythm(4, 1)
        h3
            margin-top emRhythm(4, 1)
            center(600px)
        
    .explore-gaming-vibs        
        background #f9f9fb
        color #fff
        padding 0
        text-align center
        +below($sm)
            display none
        h3
            center(800px)
            margin-top emRhythm(4, 1)
            margin-bottom emRhythm(4, 1)
        iframe
            margin-top emRhythm(8, 1)
        .tab-container
            background $nav-bg
            padding 80px 0 0
        .cta__secondary
            margin 0 auto 80px
        .tabs
            background $nav-bg
            .accordion-gaming-tabs
                display inline-flex
                margin 0 auto
                .tab-header-and-content
                    list-style none
                    display inline
                .tab-link
                    display inline-block
                    text-align center
                    padding 15px 15px 10px
                    font-size 14px
                    font-weight 500
                    text-transform uppercase
                    max-width 130px
                    color #fff
                    cursor pointer
                    .game-thumb
                        img
                            max-width 100px
                    .game-name
                        line-height 40px
                .is-active
                    background #fff
                    color $link-color
            .tab-content
                width 100%
                float left
                text-align center
                overflow visible
                iframe
                    margin 20px auto 0
                    max-width 1200px
                +below($sm)
                    padding 0px 15px
                    margin-top emRhythm(3, $base-em-font-size)
                    
    .mentions
        color #fff
        background $nav-bg
        .mentions-logo-container
            center(750px)
            display flex
            align-items center
            justify-content space-between
            +below($sm)
                flex-direction column
            .mentions-logo
                +below($sm)
                    margin-bottom 20px
                &:nth-child(1)
                    width 180px
                &:nth-child(2)
                    width 126px
                &:nth-child(3)
                    width 174px
                img
                    max-width 100%
        .testimonials-container
            margin-top 80px
            +below($sm)
                margin-top 20px
            .testimonial
                padding 20px
                background $lighter-gray
                border-radius 2px
                +above($sm)
                    col(1/3, cycle:3)
                    text-align left
                +below($sm)
                    center(420px, 20px)
                    margin-bottom 30px
                    text-align left
                +below($xs)
                    uncenter()
                    span()
                    padding 20px
                    text-align left
                &-img
                    width 60px
                    height 60px
                    float left
                    margin-right 20px
                    img
                        border-radius 100%
                        max-width 100%
                &-name
                    font-size
                &-title
                    font-style italic
                &-statement
                    margin-bottom 0
                    
    .supported-platforms
        background $blue1
        h3
            margin-top emRhythm(4, 1)
            margin-bottom emRhythm(4, 1)
            center($sm)
        .platforms-logo-container
            margin-top emRhythm(8, 1)
            center(650px)
            display flex
            align-items center
            justify-content space-between
            +below($xs)
                flex-direction column
            .platforms-logo
                +below($xs)
                    margin-bottom 20px
                &:nth-child(1)
                    width 33px
                &:nth-child(2)
                    width 81px
                &:nth-child(3)
                    width 144px
                &:nth-child(4)
                    width 89px
                &:nth-child(5)
                    width 32px
                img
                    max-width 100%
        .logo-notice
            margin-top emRhythm(8, 1)
            font-size 12px
            max-width none
            
    .our-partners
        background $purple
        background linear-gradient(to bottom, $purple 50%,$violet 100%)
        background -moz-linear-gradient(top, $purple  50%, $violet 100%)
        background -webkit-linear-gradient(top, $purple  50%,$violet 100%)
        color #fff
        h2
            margin-bottom emRhythm(4, 1)
        h3
            margin-top emRhythm(2, 1)
            center(620px)
        .partners
            center($sm)
            .partner
                col(1/3, cycle: 3, gutter: 10)
                position relative
                height 100px
                margin-bottom 30px
                +below($xs)
                    col(1, uncycle: 3, cycle: 1)
                    display flex
                    justify-content center
                    align-items center
                    margin-bottom 0
                a
                    display block
                    text-align center
                    +above($xs)
                        align(both)
                img
                    max-width 100%
                    +below($xs)
                        max-height 100px
                        max-width 80%
                        width auto
                &:nth-child(1)
                    a
                        img
                            width 127px
                &:nth-child(2)
                    a
                        img
                            width 185px
                &:nth-child(3)
                    a
                        img
                            width 140px
                &:nth-child(4)
                    a
                        img
                            width 151px
                &:nth-child(5)
                    a
                        img
                            width 73px
                &:nth-child(6)
                    a
                        img
                            width 100px
                &:nth-child(7)
                    a
                        img
                            width 76px
                &:nth-child(8)
                    a
                        img
                            width 83px
                &:nth-child(9)
                    a
                        img
                            width 109px
