//
.landing
    //
    .hero
        background-color $nav-bg
        background-size cover
        background-position center center
        background-repeat no-repeat
        padding 115px 0 0px
        height 530px
        margin 0
        position relative
        +below($md)
            padding 130px 0px 110px
            height 460px
        +below($xs)
            padding 100px 0 80px
            height auto
        .block__title
            color #fff
            position relative
        .block__description
            color $light-color
            position relative
            center($xs)
            +below($md)
                center(360px)
        .container
            w($xl)
            text-align center
    .landing-page
        background-image url(https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/landing-bg3.jpg)

    .use-cases
        cf()
        w(100%)
        margin-bottom 0
        padding-top 40px

    .explainer-video
        background linear-gradient(0deg, $purple 0%, $link-color 100%)
        .container
            position relative
            text-align center
            +above($sm)
                top -90px
            .value-prop
                text-align left
                +above($sm)
                    padding-bottom 30px
        .browser-top
            max-height 33px
            img
                max-width 100%
            +below($sm)
                display none
        .video-player
            border-radius 0px 0px 5px 5px
            cursor pointer
            width 900px
            max-width 100%
            +below($sm)
                display none
            
    .value-props
        &.blue
            background $blue1
        &.purple
            background $purple
            border-top 3px solid rgba(255,255,255,0.2)
            border-bottom 3px solid rgba(255,255,255,0.2)
        &.violet
            background linear-gradient(0deg, $violet 0%, $purple 100%)
            position relative
        .value-prop
            padding 120px 0
            span()
            display flex
            align-items center
            justify-content center
            +below($xs)
                display block
                padding 60px 0
            &-text
                col(2/5)
                +below($xs)
                    span()
                h2
                    +between($md, $xl)
                        font-size 50px
                    +above($xl)
                        font-size 60px
                    color rgba(0,0,0,0.25)
                    text-transform uppercase
                    +below($xs)
                        text-align center
                        margin-bottom emRhythm(2, 1)
                .visible-xs
                    max-width 100%
                    border-radius 5px
                    +above($xs)
                        display none
                h3
                    margin-top emRhythm(2, 1)
                    color #fff
            &-animation
                col(3/5)
                +below($xs)
                    display none
                .animation-player
                    border-radius 5px
                    width 550px
                    max-width 100%
                &.text-right
                    text-align right

    .join-us
        background-color $blue1
        padding 85px 0
        span(1/1)
        text-align center
        +below($xs)
            padding 60px 0
        .cta-create
            background $link-color
            color #fff
            &:hover
                background $link-color-hover
                    
    .mentions
        color #fff
        background $nav-bg
        padding 50px 0 46px
        span()
        +below($sm)
            padding 50px 0 18px
        .mentions-logo-container
            center(850px)
            display flex
            align-items center
            justify-content space-between
            +below($sm)
                flex-direction column
            .mentions-logo
                +below($sm)
                    margin-bottom 40px
                &:nth-child(1)
                    width 180px
                &:nth-child(2)
                    width 126px
                &:nth-child(3)
                    width 174px
                img
                    opacity 0.5
                    max-width 100%
                    transition 200ms all ease-in
                    &:hover
                        opacity 0.8



