//Page Sports

.sports
    .hero
        background-image url(../../assets/img/sports-bg.jpg)
        .video-container
            position absolute
            width 100%
            height 589px
            top 0
            left 0
            right 0
            overflow hidden
            text-align center
            +below($md)
                display none
            .bg-video-player
                width 100%
                width 100vw
    .embedded
        padding-bottom 30px
        margin-bottom 0px
        .vib-embed
            col(1/2, cycle:2)
            margin-bottom 30px