//Page eSports

.esports
    .hero
        background-image url(../../assets/img/esports-bg.jpg)
	.embedded
		padding-bottom 30px
		margin-bottom 0px
		.vib-embed
			col(1/2, cycle:2)
			margin-bottom 30px