//
.about
    //
    .hero
        background linear-gradient(0deg, $purple 0%, $link-color 100%)
        background $link-color url('https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/about+page+cover.jpg')
        background-size cover
        background-position center center
        background-repeat no-repeat
        padding 170px 0 160px
        height auto
        margin 0
        position relative
        .block__title
            margin-bottom 0
        +below($xs)
            padding 120px 0 80px
            height auto
            
    .value-props
        &.blue
            background $blue1
        .value-prop
            center($sm)
            padding 80px 0
            text-align center
            h3
                text-align left
        .cta__primary--big
            background-color $link-color
            color #fff

                    
