//Page

.page
    .block
        // background-color #ccc
        margin-bottom 100px
        w($xl)
        &__header
            // background-color #aca
            text-align center
            wrap()
            w($xl)
            margin-bottom 50px
        &__title
            color $dark-color
            margin-bottom 10px
        &__description
            color #000 + 30%

    .esports
        .hero
            background-image url(../../assets/img/esports-bg.jpg)
            
    .dark
        background $nav-bg
        color #fff !important
        .block
            &__title
                color $light-color
                margin-bottom 10px
            &__description
                color #fff - 20%
                