//
.solutions-page
    //
    .hero
        background linear-gradient(0deg, $purple 0%, $link-color 100%)
        background-size cover
        background-position center center
        background-repeat no-repeat
        padding 170px 0 160px
        height auto
        margin 0
        position relative
        +below($xs)
            padding 120px 0 80px
            height auto
        .hero-headings
            z-index 2
            position relative
            .block__title
                color #fff
        .hero-svg
            position absolute
            width 100%
            left 0
            right 0
            bottom 0
            z-index 1
            +above(1600px)
                opacity .3
            
    .value-props
        &.blue
            background $blue1
            .value-prop
                &-text
                    h5
                        color $link-color
                        text-transform uppercase
                        margin-bottom 10px
                    h3
                        color $text-color
                        &:not(:last-child)
                            margin-bottom 40px
                    .visible-xs
                        margin-bottom 40px
        &.blueish
            background linear-gradient(0deg, $purple 0%, $link-color 100%)
        &.purple
            background $purple
            border-top 3px solid rgba(255,255,255,0.2)
            border-bottom 3px solid rgba(255,255,255,0.2)
        &.violet
            background linear-gradient(0deg, $violet 0%, $purple 100%)
            position relative
        .value-prop
            padding 120px 0
            span()
            display flex
            align-items center
            justify-content center
            +below($xs)
                display block
                padding 60px 0
            &-text
                col(2/5)
                +below($xs)
                    span()
                h2
                    +between($md, $xl)
                        font-size 50px
                    +above($xl)
                        font-size 60px
                    color rgba(0,0,0,0.25)
                    text-transform uppercase
                    +below($xs)
                        text-align center
                        margin-bottom emRhythm(2, 1)
                .visible-xs
                    max-width 100%
                    border-radius 5px
                    +above($xs)
                        display none
                h3
                    margin-top emRhythm(2, 1)
                    color #fff
                    ul
                        list-style-type none
                        margin-left 0
                        li
                            margin-bottom 30px
                    ul > li:before
                        content "–"
                        position absolute
                        margin-left -25px
            &-animation
                col(3/5)
                +below($xs)
                    display none
                .animation-player
                    border-radius 5px
                    width 550px
                    max-width 100%
                &.text-right
                    text-align right
                    img
                        max-width 100%

    .try-it
        padding 160px 0
        text-align center
        &.violet
            background linear-gradient(0deg, $violet 0%, $purple 100%)
            position relative
        h2,
        h3
            color #fff
            margin-bottom 30px
        .video-js
            margin 0 auto
            border-radius 5px
            width 100%
            max-width 900px
            min-height 506px
            text-align left
            &:focus
                outline none
            +below($sm)
                min-height 385px
            +below($xs)
                min-height 280px
            .vjs-tech
                border-radius 5px
                overflow hidden
            #createHighlightBtnDiv-bc-0
                .cc-container
                    position absolute
                    bottom 50px
                    top auto
        .vibbified-svg
            position absolute
            bottom 0
            left 0
            right 0
            +below($lg)
                display none

    .join-us
        background-color $blue1
        padding 160px 0
        span(1/1)
        text-align center
        +below($xs)
            padding 60px 0
        h2
            center(660px)
            margin-bottom 40px
        #thank-you-msg
            display none
            margin-bottom 40px
        .cta-create
            background $link-color
            color #fff
            &:hover
                background $link-color-hover
        .nab-form
            background #fff
            border-radius 2px
            center($sm)
            padding 40px 100px
            +below($sm)
                padding 30px
            h4
                font-weight 500
                margin-bottom 20px
            form
                max-width 100%
                margin 0 auto
            label
                color $text-color
            input
                display block
            .nab-form-input
                width 100%
                resize none
                color $text-color
            .cta__primary--big
                margin-top 0
                border 0
                background $link-color
                color #fff
                margin 0 auto
                &:hover
                    background $link-color-hover
                    
