//Page Sports

.sports
    .hero
        background-image url(../../assets/img/sports-bg1.jpg)
        .video-container
            position absolute
            width 100%
            height 589px
            top 0
            left 0
            right 0
            overflow hidden
            text-align center
            +below($md)
                display none
            .bg-video-player
                width 100%
                width 100vw
    .embedded
        .vib-embed
            col(1/2, cycle:2)
            margin-bottom 30px
            +below($sm)
                span()
            
    .our-partners
        .partners
            center($sm)
            .partner
                col(1/4, cycle: 4, gutter: 10)
                position relative
                height 100px
                +below($xs)
                    col(1, uncycle: 4, cycle: 1)
                    padding 20px 50px
                    height 150px
                a
                    display block
                    +above($xs)
                        align(vertical)
                img
                    max-width 100%
                    