//Page TOS

.tos
    text-align center
    h1,
    h3
        color #fff
    .tos-content
        display inline-block
        text-align left
        padding 50px 0 80px
        .underline
            text-decoration underline
        p
            max-width none
        ul
        ol
            padding-left 15px
            li
                margin-bottom 10px
        .lower-latin
            list-style-type lower-latin
        .lower-roman
            list-style-type lower-roman
        .list-top-heading
            setType(6, $ms-up1)