//Page
.ribbon
    display none
    padding 40px 0px
    max-height 220px
    &.producthunts
        background #da552f
        color #fff
    &.roughdrafts
        background #1B1B1B
        color #fff
        img
            border 1px solid #fff
            width 70px
        .ribbon-msg
            max-width 420px
    +below($sm)
        padding 68px 0px
    +below(450px)
        padding 32px 0px
    .container
        text-align center
    &-msg
        display inline-block
        center(850px)
        +below($md)
            uncenter()
            center(600px)
        img
            width 150px
            float left
            margin-right 15px
            +below($sm)
                display none
        h1
            float left
            margin-top 15px
            +below($sm)
                float none
                margin-top 0px
        h3
            float left
            +below($sm)
                float none

.page
    .hero
        background-color $nav-bg
        background-size cover
        background-position center center
        background-repeat no-repeat
        padding 185px 0 0px
        height 640px
        margin 0
        +below($sm)
            padding 130px 0px 110px
            height 460px
        .block__title
            color #fff
            position relative
        .block__description
            color $light-color
            position relative
            center($sm)
        .container
            w($xl)
            text-align center
    .demo-video
        position relative
        text-align center
        top -90px
        +below($md)
            display none
        .browser-top
            height 33px
        .video-player
            border-radius 0px 0px 5px 5px
            cursor pointer
    .sub-cta-copy
        text-align center
        color #fff
        max-width none
        margin-top emRhythm(1, 1)

    .block
        // background-color #ccc
        margin-bottom 100px
        &:last-child
            margin-bottom 0px
            padding-bottom 50px
        w($xl)
        &__header
            // background-color #aca
            text-align center
            w($xl)
            margin-bottom emRhythm(5, $base-em-font-size)
            +below($sm)
                margin-bottom emRhythm(3, $base-em-font-size)
        &__title
            color $dark-color
            margin-bottom emRhythm(3, $ms-up3)
            position relative
        &__description
            color #000 + 30%
            center($xs + 50)

    .benefits
        +below($sm)
            padding-top 40px
        .benefit
            text-align center
            &-left
                text-align left
            &-right
                text-align right
            &-text
                col(1/2)
            &-img
                col(1/2)
            +below($md)
                margin-bottom emRhythm(3, $base-em-font-size)
            +above($md)
                col(1/3, cycle: 3)
                text-align center
            &__icon
                height 140px
                width 140px
                border-radius 50%
                border 3px solid #BBE1FF
                margin 0 auto
                display flex
                align-items center
                justify-content center
                margin-bottom 30px
                svg
                    width 60px
                    height 60px
                    .st0
                        fill $link-color
                .fa
                    font-size 4.236rem
                    color $link-color
            p
                margin-bottom 4px
            
    .dark
        background $nav-bg - 10%
        color #fff !important
        .block
            &__title
                color $light-color
            &__description
                color #fff - 20%
                
    .darker
        background $nav-bg - 25%
        color #fff !important
        .block
            &__title
                color $light-color
            &__description
                color #fff - 20%
                