//Page TOS

.tos
    text-align center
    .hero
        padding 105px 0 55px
        height auto
    .tos-content
        display inline-block
        text-align left
        padding 50px 15px 80px
        .underline
            text-decoration underline 