//Page

.page
    .block
        // background-color #ccc
        margin-bottom 140px
        w(1170px)
        &__header
            // background-color #aca
            text-align center
            wrap()
            w(700px)
            margin-bottom 80px
        &__title
            color #363C4F
        &__description
            color #808897
