//
.landing
    //
    .block
        &__title
            font-weight 300
            margin-bottom 20px
            font-weight 24px
            
    .hero
        background-color $nav-bg
        background-image url(../../assets/img/landing-bg.jpg)
        background-size cover
        background-repeat no-repeat
        padding 200px 0 200px
        margin 0
        .block__title
            color #fff
        .block__description
            color #7D8BB5
        .wrap
            w(700px)
            text-align center
            wrap()

    .giveaway
          background-color $nav-bg
        background-image url(../../assets/img/lol-giveaway.jpg)
        background-size cover
        background-repeat no-repeat
        padding 200px 0 200px
        margin 0
        .block__title
            color #fff
        .block__description
            color #7D8BB5
        .wrap
            w(700px)
            text-align center
            wrap()


    .benefits
        padding 60px 0 0
        .benefit
            column(1/2, cycle: 2)
            text-align center
            &__icon
                height 140px
                width 140px
                border-radius 50%
                border 1px solid #BBE1FF
                margin 0 auto
                display flex
                align-items center
                justify-content center
                margin-bottom 30px
                .fa
                    font-size 50px
                    color #2CA3FF

    .use-cases
        cf()
        w(100%)
        padding-top 80px
        .tab-content
            text-align center
            p
                text-align left
                margin-bottom 40px


    .demo-video
        position relative
        text-align center
        // top -40px

    .features
        // background-color #aaa
        cf()
        margin-bottom 60px
    .try
        padding 0
        text-align center
        margin-bottom 60px
        h2
            font-weight 300
            margin-bottom 40px
    .user-quotes
        background-color #E1E5F1
        padding 30px
        text-align center
        .quote
            text-align left
            background-color #fff
            padding 30px
            width 470px
            box-shadow: 0px 1px 5px 0px #7D8BB5;
            display inline-block
            margin 0 10px
            margin-bottom 20px
            .user
                display flex
                align-items center
                &__img
                    height 44px
                    width 44px
                    background-color #aff
                    border-radius 50%
                &__wrap
                    margin-left 10px
                &__name
                    font-size 18px
                &__role
                    font-size 14px
                    color #808996
            &__text
                font-size 16px
                color #808996
                margin-top 25px























//
