.vertical-tabs
    display flex

    .tabs-titles
        col(2/5)
        +below($md)
            center(max-width = $xs - 30)

    .tabs-titles li
        cursor pointer
        padding 25px 20px
        display flex
        align-items center
        border 1px solid $link-color + 80%
        margin-bottom 10px

        img
            // float left
        .text
            margin-left 20px
        h3
            color $h-color
            border-bottom 2px solid $link-color + 80%
            padding-bottom 15px
            margin-bottom 15px
        p
            color #808996

    .tabs-titles li.current
        // font-weight bolder
        background $link-color + 80%
        // box-shadow: inset 0px 0px 0px 1px rgba(187,225,255,0.5);
        h3
            border-bottom 2px solid $link-color
            


    .tabs-contents
        // background #F6FBFF
        // margin-left 100px
        // padding 5px
        // float right
        height 100%
        col(3/5)
        +below($md)
            display none

        .content
            height 100%
            display flex
            align-items center
            justify-content center

    .tabs-contents li
        height 100%
        display none


    .tabs-contents li:first-child
        display block /* first one content displayed by default */
