.vertical-tabs
    display flex

    .tabs-titles
        // float left
        width 40%
        // width 100%
        // margin 0
        // margin-right 10px


    .tabs-titles li
        cursor pointer
        padding 25px 20px
        display flex
        align-items center
        box-shadow: inset 0px 0px 0px 1px rgba(187,225,255,0.5);
        margin-bottom 10px

        img
            // float left
        .text
            margin-left 20px
        h3
            font-size 22px
            color $h-color
        p
            font-size 16px
            color #808996

    .tabs-titles li.current
        // font-weight bolder
        background #F6FBFF
        // box-shadow: inset 0px 0px 0px 1px rgba(187,225,255,0.5);


    .tabs-contents
        // background #F6FBFF
        // margin-left 100px
        // padding 5px
        // float right
        margin-left 60px
        width 60%
        height 100%

        .content
            height 100%
            display flex
            align-items center
            justify-content center

    .tabs-contents li
        height 100%
        display none


    .tabs-contents li:first-child
        display block /* first one content displayed by default */
