---
layout: page
permalink: /
title: Vibby
description: Vibby empowers viewers to share the best moments of any video, while protecting the rights of intellectual property owners.
---
<div class="landing">
  <section class="hero landing-page z-shadow">
    <div class="container">
      <div class="hero-headings">
        <h1 class="block__title">Empower Your Viewers to Amplify Your Content</h1>
        <h3 class="block__description">
          We believe everyone should have the power to capture and share the moments that matter from any video.<br>
        </h3>
        <a href="#demo" class="cta__primary--big z-shadow-1">
          <span>Request demo</span>
        </a>
      </div>
      <div class="explainer-video">
        <div class="browser-top"><img src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/app-bar-dark.png" alt="Browser window"/></div>
        <video class="video-player z-shadow-6" id="video-player" poster="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/vibby-how-it-works.png" loop>
          <source src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/vibby-how-it-works.mp4" type="video/mp4">
          <source src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/vibby-how-it-works.webm" type="video/webm">
        </video>
        <div class="absolute-container">
          <a href="#try" class="cta__primary--big z-shadow-1">
            <span>Try it yourself</span>
          </a>
        </div>
      </div>
      <div class="hero-svg">
        {% include hero-graph.svg %}
      </div>
    </div>
  </section>

  <section class="value-props blue">
    <div class="container">
      <div class="value-prop">
        <div class="value-prop-text">
          <div class="visible-xs">
            <img src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/value-prop-animation.png" alt="Value prop illustration"/>
          </div>
          <h1 id="ourTitle">Engage</h1>
          <h3 id="ourDescription">Tap into the friendships of your audience by letting them personalize and share the best moments from your video content.
          </h3>
          <a href="/solutions" class="cta__primary--big z-shadow-1">
            <span>Learn more</span>
          </a>
        </div>
        <div class="value-prop-animation text-right">
          {% include value-prop-animation.svg %}
        </div>
      </div>
    </div>
  </section>

  <section class="try-it violet z-shadow" id="try">
    <div class="container">
      <h2>Vibby in action</h2>
      <h3>Vibbify your video player and take your content to the next level!</h3>
      <div class="video-container">
        <video id="performPlayer" data-video-id="5567553724001" 
                                        data-account="5359769130001" 
                                        data-player="default" 
                                        data-embed="default" 
                                        data-application-id 
                                        class="video-js z-shadow-6" 
                                        controls></video>
      </div>
      <ul class="social-links">

        <li class="social-link twitter">
          <a href="http://twitter.com/intent/tweet?text=Check%20out%20this%20site!%20http%3A%2F%2Fvideo.corrigansports.com%2Fdetail%2Fvideos%2Fthe-columbia-triathlon%2Fvideo%2F5269082447001%2Fcse-who-we-are%3FautoStart%3Dtrue" target="_blank" rel="nofollow" data-media="twitter"><i class="fa">&nbsp;</i></a>
        </li>

        <li class="social-link gplus">
          <a href="https://plus.google.com/share?url=http%3A%2F%2Fvideo.corrigansports.com%2Fdetail%2Fvideos%2Fthe-columbia-triathlon%2Fvideo%2F5269082447001%2Fcse-who-we-are%3FautoStart%3Dtrue" target="_blank" data-media="gplus"><i class="fa">&nbsp;</i></a>
        </li>

        <li class="social-link linkedin">
          <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fvideo.corrigansports.com%2Fdetail%2Fvideos%2Fthe-columbia-triathlon%2Fvideo%2F5269082447001%2Fcse-who-we-are%3FautoStart%3Dtrue&amp;title=CSE%20Who%20We%20Are&amp;source=Corrigan%20Sports%20Enterprise%20TV&amp;summary=Check%20out%20this%20video%20to%20learn%20more%20about%20CSE!%20We're%20excited%20to%20be%20adding%20some%20unique%20events%20to%20our%202017%20portfolio!" target="_blank" rel="nofollow" data-media="linkedin"><i class="fa">&nbsp;</i></a>
        </li>


        <li class="social-link pinterest">
          <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fvideo.corrigansports.com%2Fdetail%2Fvideos%2Fthe-columbia-triathlon%2Fvideo%2F5269082447001%2Fcse-who-we-are%3FautoStart%3Dtrue&amp;media=https%3A%2F%2Ff1.media.brightcove.com%2F8%2F3423279375001%2F3423279375001_5287445595001_5269082447001-vs.jpg%3FpubId%3D3423279375001%26videoId%3D5269082447001&amp;description=Check%20out%20this%20video%20to%20learn%20more%20about%20CSE!%20We're%20excited%20to%20be%20adding%20some%20unique%20events%20to%20our%202017%20portfolio!" target="_blank" rel="nofollow" data-media="pinterest"><i class="fa">&nbsp;</i></a>
        </li>

        <li class="social-link email">
          <a href="mailto:?subject=CSE%20Who%20We%20Are&amp;body=Check%20out%20this%20video%20to%20learn%20more%20about%20CSE!%20We're%20excited%20to%20be%20adding%20some%20unique%20events%20to%20our%202017%20portfolio!%0A%0Ahttp%3A%2F%2Fvideo.corrigansports.com%2Fdetail%2Fvideos%2Fthe-columbia-triathlon%2Fvideo%2F5269082447001%2Fcse-who-we-are%3FautoStart%3Dtrue" rel="nofollow" data-media="email"><i class="fa">&nbsp;</i></a>
        </li>
    </ul>
    </div>
  </section>

  <section class="join-us" id="demo">
    <div class="container">
      <h2>Get Vibby for your online video player. Request a demo below:</h2>
      <h3 id="thank-you-msg">Thank you! A member of our team will be in touch with you soon.</h3>
      <div class="nab-form z-shadow">
        <h4></h4>
        <form action="https://getsimpleform.com/messages?form_api_token=f629e6e913937453109cf5c58a3427c3" method="post">
          <input type='hidden' name='redirect_to' value='https://vibby.com/#demo' />
          <div class="form-field-group">
            <input type='text' name='name' class="nab-form-input" pattern="^((\b[a-zA-Z]{2,40}\b)\s*){2,}$" required/>
            <span class="bar"></span>
            <label>Your full name</label>
          </div>
          <div class="form-field-group">
            <input type='email' name='email' class="nab-form-input" required/>
            <span class="bar"></span>
            <label>Your business email</label>
          </div>
          <div class="form-field-group">
            <input type='tel' name='phone' class="nab-form-input" pattern="^\+?\d{0,13}" required/>
            <span class="bar"></span>
            <label>Your work number</label>
          </div>
          <div class="form-field-group">
            <input type='text' name='business' class="nab-form-input" required/>
            <span class="bar"></span>
            <label>Company name</label>
          </div>
          <div class="form-field-group">
            <input type='text' name='address' class="nab-form-input" required/>
            <span class="bar"></span>
            <label>Company location</label>
          </div>
          <div class="form-field-group">
            <input type='text' name='url' class="nab-form-input" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$" required/>
            <span class="bar"></span>
            <label>Company URL</label>
          </div>
          <div class="form-field-group">
            <textarea name='message' class="nab-form-input" required></textarea>
            <span class="bar"></span>
            <label>Few words about your business</label>
          </div>
          <input type='submit' value='Request demo' class="cta__primary--big cta-create z-shadow-1" />
        </form>
      </div>
    </div>
  </section>

    <!-- Our js -->
    {% if jekyll.environment == 'production' %}
      <script type="text/javascript" src="{{ "/assets/js/landing.js" | prepend: site.url }}"></script>
    {% else %}
      <script type="text/javascript" src="{{ "/assets/js/landing.js" | prepend: site.baseurl }}"></script>
    {% endif %}
      <script src="//players.brightcove.net/5359769130001/default_default/index.min.js"></script>
      <script type="text/javascript" src="https://corrigansports.vibby.com/static/vibbify_default.min.js"></script>
      <script>
        var bcPlayerApi = videojs('performPlayer');
        videojs('performPlayer').ready(function(){
          var myPlayer = this;
          myPlayer.muted(true);
        });
      </script>

</div>
