---
layout: page
permalink: /newlanding/
title: Vibby
description: Vibby empowers viewers to share the best moments of any video.
---
<div class="landing">
    <section class="hero landing-page z-shadow">
        <div class="container">
            <div class="hero-headings">
                <h1 class="block__title">Too Long; Didn’t Watch</h1>
                <h3 class="block__description">
                    Vibby enables you to create a highlight reel from any YouTube video in seconds<br>
                </h3>
                <!-- <a href="#demo" class="cta__primary--big z-shadow-1">
          <span>Request demo</span>
        </a> -->
                <a href="" class="cta__primary--big"><i class="fa fa-plus-circle"></i>Create your vib</a>

            </div>
            <div class="explainer-video">
                <div class="browser-top"><img
                        src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/app-bar-dark.png"
                        alt="Browser window" /></div>
                <video class="video-player z-shadow-6" id="video-player"
                    poster="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/vibby-how-it-works.png"
                    loop>
                    <source
                        src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/vibby-how-it-works.mp4"
                        type="video/mp4">
                    <source
                        src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/vibby-how-it-works.webm"
                        type="video/webm">
                </video>
                <div class="absolute-container">
                    <a href="#try" class="cta__primary--big z-shadow-1">
                        <span>Try it yourself</span>
                    </a>
                </div>
            </div>
            <div class="hero-svg">
                {% include hero-graph.svg %}
            </div>
        </div>
    </section>

    <section class="demo-video">
        <iframe src="https://www.vibby.com/embed/?vib=QyMx28oTh" frameborder="0" scrolling="no" seamless="yes"
            style="overflow: hidden; width: 100%; max-width: 920px; height: 565px;" allowfullscreen=""></iframe>
    </section>

    <section class="block benefits">
        <div class="block__header">
            <p class="block__description">Vibby is the fastest and easiest way to repurpose exisitnig video content from
                the web.</p>
        </div>
        <div class="grid">
            <div class="benefit">
                <div class="benefit__icon">
                    <i class="fa fa-video"></i>
                </div>
                <h3>Highlight</h3>
                <p class="bebefit__description">Pick any YouTube video and highlight the moments you want to share.
                </p>
            </div>
            <div class="benefit">
                <div class="benefit__icon">
                    <i class="fa fa-comment"></i>
                </div>
                <h3>Comment</h3>
                <p class="bebefit__description">Start a conversation around the moments that matter to your audience.
                </p>
            </div>
            <div class="benefit">
                <div class="benefit__icon">
                    <i class="fa fa-share"></i>
                </div>
                <h3>Share</h3>
                <p class="bebefit__description">Share your vib on any social media site or seamlessly embed it on a
                    website or blog you manage.</p>
            </div>
        </div>
    </section>

    <section class="block use-cases">
        <div class="block__header">
            <h2 class="block__title">What people are doing with Vibby</h2>
        </div>
        <div class="tabs">
            <ul class="accordion-tabs">
                <li class="tab-header-and-content">
                    <a href="javascript:void(0)" class="is-active tab-link">Content Marketing</a>
                    <div class="tab-content cm">
                        <p>It’s no secret that video is the most effective way to engage your audience. But creating
                            quality videos from scratch is both time consuming and costly. Content marketers that don’t
                            have an endless amount of time or money turn to Vibby to repurpose existing online content.
                        </p>
                    </div>
                </li>
                <li class="tab-header-and-content">
                    <a href="javascript:void(0)" class="tab-link">Education</a>
                    <div class="tab-content education">
                        <p>There’s an incredible amount of high-quality educational content available for free online.
                            However, all too often the clips they want to share with students are locked within a longer
                            video. Educators turn to Vibby to harness the moments that matter and to more effectively
                            incorporate video into the classroom.</p>
                    </div>
                </li>
                <li class="tab-header-and-content">
                    <a href="javascript:void(0)" class="tab-link">Online Gaming</a>
                    <div class="tab-content gaming">
                        <p>Whether you’re a competitive gamer, Let’s Player, or just a huge fan of gaming, Vibby helps
                            you make the most of video. Highlight and share exciting moments from long streams and ditch
                            all the stuff in between. Engage your friends and fans. Archive the important clips.</p>
                    </div>
                </li>
                <li class="tab-header-and-content">
                    <a href="javascript:void(0)" class="tab-link">Sports</a>
                    <div class="tab-content sports">
                        <p>Vibby Sports is a tool that allows coaches, athletes, and fans to highlight and share the
                            most relevant parts of any game tape.</p>
                    </div>
                </li>
            </ul><!-- accordion-tabs END -->
        </div><!-- tabs END -->
    </section>

    <section class="join-us" id="demo">
        <div class="container">
            <h2>Partner with us:</h2>
            <h3 id="thank-you-msg">Thank you! A member of our team will be in touch with you soon.</h3>
            <div class="nab-form z-shadow">
                <h4></h4>
                <form action="https://getsimpleform.com/messages?form_api_token=f629e6e913937453109cf5c58a3427c3"
                    method="post">
                    <input type='hidden' name='redirect_to' value='https://vibby.com/#demo' />
                    <div class="form-field-group">
                        <input type='text' name='name' class="nab-form-input" pattern="^((\b[a-zA-Z]{2,40}\b)\s*){2,}$"
                            required />
                        <span class="bar"></span>
                        <label>Your full name</label>
                    </div>
                    <div class="form-field-group">
                        <input type='email' name='email' class="nab-form-input" required />
                        <span class="bar"></span>
                        <label>Your business email</label>
                    </div>
                    <div class="form-field-group">
                        <input type='tel' name='phone' class="nab-form-input" pattern="^\+?\d{0,13}" required />
                        <span class="bar"></span>
                        <label>Your work number</label>
                    </div>
                    <div class="form-field-group">
                        <input type='text' name='business' class="nab-form-input" required />
                        <span class="bar"></span>
                        <label>Company name</label>
                    </div>
                    <div class="form-field-group">
                        <input type='text' name='address' class="nab-form-input" required />
                        <span class="bar"></span>
                        <label>Company location</label>
                    </div>
                    <div class="form-field-group">
                        <input type='text' name='url' class="nab-form-input"
                            pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$" required />
                        <span class="bar"></span>
                        <label>Company URL</label>
                    </div>
                    <div class="form-field-group">
                        <textarea name='message' class="nab-form-input" required></textarea>
                        <span class="bar"></span>
                        <label>Few words about your business</label>
                    </div>
                    <br>
                    <input type='submit' value='Request demo' class="cta__primary--big cta-create z-shadow-1" />
                </form>
            </div>
        </div>
    </section>

    <!-- Our js -->
    {% if jekyll.environment == 'production' %}
    <script type="text/javascript" src="{{ " /assets/js/landing.js" | prepend: site.url }}"></script>
    {% else %}
    <script type="text/javascript" src="{{ " /assets/js/landing.js" | prepend: site.baseurl }}"></script>
    {% endif %}

</div>