//

@import "base"

/* Your settings for Typesettings :) */
$font-sans:= $base-font-family;
$font-serif:= $base-font-family;
$text-color:= $text-color;
$base-vertical-unit:= 5px;
$base-line-multi:= 4;
$base-font-size:= $base-font-size;
$ms-ratio:= 1.2;
$paragraph-indent:= false;
$paragraph-justify:= false;
$load-typesetted:= true;

@import "_typesettings"
@import "typography"