//
body
    font-family $base-font-family
    font-size $base-font-size
    font-weight 400

    color $text-color
    background-color #fff
    line-height 1.4
    font-size 18px

    position relative

    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    text-rendering geometricPrecision

a
    position relative
    transition all 0.2s ease


// html
//     font-size: 62.5%
//     +below(360px)
//         font-size 50%
