//
body
    font-weight 400
    background-color #fff
    position relative
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-rendering geometricPrecision

a
    position relative
    transition all 0.2s ease
    color $link-color
    
.z-shadow
.scroll
    box-shadow 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.16)
    
.z-shadow-1
    box-shadow: 0 1px 4px rgba(0,0,0,0.16)
    transition: all 0.2s ease-in-out;
    +above($md)
        &:hover
            box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.20);