//Typography

h1
    font-size 4.236rem
    letter-spacing -0.3px
    font-weight 200
    +below($md)
        font-size 2.618rem

h2
    font-size 2.618rem
    font-weight 400
    +below($md)
        font-size 1.618rem

h3
    font-size 1.618rem
    font-weight 300
    +below($md)
        font-size 1rem
        font-weight 400
    
h4
    font-size 1.618rem
    font-weight 300
    +below($md)
        font-size 1rem
        font-weight 400
    
.text-center
    text-align center