//Typography

h1
    setType(14, $ms-up3)
    letter-spacing -0.3px
    font-weight 100
    +below($md)
        setType(10, $ms-up2)

h2
    setType(10, $ms-up2)
    font-weight 500
    +below($md)
        setType(6, $ms-up1)

h3
    setType(7, $ms-up1)
    font-weight 300
    +below($md)
        setType(5, $base-em-font-size)
        font-weight 400
    
h4
    setType(6, $ms-up1)
    font-weight 300
    +below($md)
        setType(4, $base-em-font-size)
        font-weight 400
        
h5
    setType(4, $base-em-font-size)
    font-weight 500
    
.text-center
    text-align center
    
.text-right
    text-align right