//Typography

h1
    setType(7, $ms-up3)
    letter-spacing -0.3px
    font-weight 100
    +below($md)
        setType(5, $ms-up2)

h2
    setType(5, $ms-up2)
    font-weight 400
    +below($md)
        setType(3, $ms-up1)

h3
    setType(3, $ms-up1)
    font-weight 300
    +below($md)
        setType(2, 1)
        font-weight 400
    
h4
    setType(3, $ms-up1)
    font-weight 300
    +below($md)
        setType(2, 1)
        font-weight 400
        
h5
    setType(2, 1)
    font-weight 500
    
.text-center
    text-align center