<div class="ribbon producthunts z-shadow">
  <div class="container">
    <div class="ribbon-msg">
      <img src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/producthunt.png" alt="Product Hunt Vibby" />
      <h1>Welcome Product Hunters!</h1>
      <h3>Join us on our quest to discover and share the moments that matter!</h3>
    </div>
  </div>
</div>

<div class="ribbon roughdrafts z-shadow">
  <div class="container">
    <div class="ribbon-msg">
      <img src="https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/imperial.png" alt="Rough Drafts Vibby" />
      <h3>Gaming highlights, unleashed.</h3>
      <h3>Welcome Rough Drafts listeners!</h3>
    </div>
  </div>
</div>