//Reset

@import "../node_modules/normalize-styl/normalize.styl"


*, *:before, *:after
    box-sizing: border-box


h1,h2,h3,h4,h5,h6,
p,ul,a
    margin 0
    padding 0

a
    text-decoration none

ul
    list-style none

b, strong
    font-weight 700


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
    background #b3d4fc
    text-shadow none

::selection
    background #b3d4fc
    text-shadow none
