//

$base-font-family = 'Roboto', Arial, sans-serif
$base-font-size = 14px
$base-line-height = 1.618

$text-color = #4A4A4A
$nav-bg = #363C4D
$link-color = #2CA3FF
$link-color-hover = #0087EF
$h-color = #363C4D
$dark-color = #555
$light-color = #f4f4f4
$blue1 = #E6F4FF
$blue2 = #D9EEFF
$blue3 = #BBE1FF
$lightest-gray = #F9F9FB
$purple = #6a7bff
$violet = #926AFF

$xs = 544px
$sm = 730px
$md = 992px
$lg = 1024px
$xl = 1200px