//

$base-font-family = 'Roboto', Arial, sans-serif
$base-font-size = 14px
$base-line-height = 1.618

$text-color = #535B68
$nav-bg = #363C4D
$link-color = #2CA3FF
$h-color = #363C4D
$dark-color = #333
$light-color = #f4f4f4

$xs = 544px
$sm = 730px
$md = 992px
$lg = 1024px
$xl = 1200px